* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/*background: url(lee.jpg) #000;
	background-size: cover;*/
}

.wrap {
	width: 100%;
	max-width: 1000px;
	margin: 4.6rem auto;
}

.widget {
	width: 98%;
	margin: 2em;
	margin: auto;
}

.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	text-align: center;
	font-size: 2em;
	margin-bottom: 5px;
	background: rgba(0,0,0,.6);
	padding: 20px;
	width: 100%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.reloj{
	width: 100%;
	padding: 15px;
	font-size: 2em;
	text-align: center;
	background: rgba(0,0,0,.6);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.reloj .caja-segundos{
	display: inline-block;
}

.reloj .segundos, .reloj .ampm{
	/*display: block*/
	font-size: 40px;
}